.div1 {
    background-color: gray;
    color: white;
    width: 400px;
    height: 300px;
    position: absolute;
    right: 0px;
    bottom: 0px;
}
.div2 {
    background-color: black;
    color: white;
    width: 100px;
    height: 100px;
    position: absolute;
    right: 300px;
    bottom: 0px;
}
.div3 {
    background-color: black;
    color: white;
    width: 100px;
    height: 100px;
    position: absolute;
    right: 0px;
    bottom: 200px;
}