.box {
    width: 100px;
    height: 100px;
}
.red {
    background-color: red;
}
.yellow {
    background-color: yellow;
}
.blue {
    background-color: blue;
}
.locate {
    /* position: relative; /* 상대적: 내가 있는 자리 기준, 나머지는 그대로 */
    /* position: absolute; /* 절대적: 부모 절댓값 기준 ex) (30, 30) */
    /* position: static; /* static:  default값, left, right, top, down 구분X */
    /* position: fixed;  /* abwolute vs fixed: 스크롤 내려도 absolute 유지O */
    /* position: sticky; /* relative vs sticky: 스크롤 내리면 사라졌다가 다시 올라오면 돌아옴 */
    left: 30px;
    top: 30px;
}