body {
    margin: 0px;
    background-color: black;
    font-family: spotify-circular, Helvetica, Arial, sans-serif;
}
main {
    background-color: #2941ab;
    background-image: url(https://www-growth.scdn.co/static/home/bursts.svg);
    background-size: 175%;
    background-position: 46% 4%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
}
.header-item {
    text-decoration: none;
    color: white;
    padding: 28px 17px;
    font-weight: 700;
}
.header-item:hover {
    color: #1ed760;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-title {
    font-size: 146px;
    line-height: 166px;
    color: #1ed760;
    font-weight: 900;
    margin-top: 100px;
    margin-bottom: 40px;
}
.main-first {
    position: relative;
    left: -100px;
}
.main-second {
    position: relative;
    left: 100px;
}
.sub {
    color: #1ed760;
    margin-bottom: 40px;
}
.button-area {
    align-items: center;
    margin-bottom: 40px;
}
.button {
    padding: 14px 32px;
    background-color: #1ed760;
    border-radius: 500px;
    font-size: inherit;
    color: #2941ab;
    font-weight: 700;
    border: none;
}
.button:hover {
    transform: scale(1.07);
}

/*
.footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.footer-menu {
    display: flex;
}
.column {
    display: flex;
    justify-content: space-between;
    padding: 28px 17px;
}
.footer-title {
    color: #919496;
    font-weight: 900;
    margin: 20px 0px;
}
.footer-item {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding-top: 3px;
    padding-bottom: 15px;
}
.footer-item:hover {
    color: #1ed760;
}

.footer-bottm {
    display: flex;
    justify-content: space-around;
}
.footer-bottom-item {
    text-decoration: none;
    color: #919496;
    padding: 28px 17px;
    margin-right: 24px;
}
.footer-bottom-item:hover {
    color: #1ed760;
}
*/

.footer {
    padding-top: 80px;
    padding-bottom: 50px;
}
.footer-menu {
    display: flex;
    justify-content: space-between;
}
.column {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
}
.footer-title {
    color: #919496;
    font-weight: 900;
    margin: 20px 0px;
}
.footer-item {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding-top: 3px;
    padding-bottom: 15px;
}
.footer-item:hover {
    color: #1ed760;
}
.footer-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-icon-i {
    width: 54px;
    height: 54px;
    background-color: #222322;
    border-radius: 50%;
    margin-right: 15px;
    justify-content: flex-end;
}
.footer-bottom1 {
    color: #919496;
    font-size: 12px;
    display: flex;
    justify-content: flex-end;
}
.footer-bottom2 {
    display: flex;
    justify-content: space-around;
    margin-top: 12px;
}
.footer-bottom2-l {
    display: flex;
    justify-content: space-around;
    margin-top: 12px;
}
.footer-bottom2-r {
    color: #919496;
    font-size: 12px;
    display: flex;
    justify-content: flex-end;
}
.footer-bottom-item {
    text-decoration: none;
    color: #919496;
}
.footer-bottom-item:hover {
    color: #1ed760;
}